
<div novalidate style="position: relative;"  name="infoForm" >
	<div style="height:500px; overflow-y:auto">
	 	<table style="margin:10px; width:95%;" border="0">
			<tr style="height: 30px;">
				<td style="text-align:right;width:25%;">service ：</td>
				<td style="width:75%;"><input ng-model="info.service" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">instance ：</td>
				<td style="width:75%;"><input ng-model="info.instance" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">host ：</td>
				<td style="width:75%;"><input ng-model="info.host" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">connection ：</td>
				<td style="width:75%;"><input ng-model="info.connection" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">contentLength ：</td>
				<td style="width:75%;"><input ng-model="info.contentLength" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">accept ：</td>
				<td style="width:75%;"><input ng-model="info.accept" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">origin ：</td>
				<td style="width:75%;"><input ng-model="info.origin" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">userAgent ：</td>
				<td style="width:75%;"><input ng-model="info.userAgent" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">contentType ：</td>
				<td style="width:75%;"><input ng-model="info.contentType" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">referer ：</td>
				<td style="width:75%;"><input ng-model="info.referer" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">acceptEncoding ：</td>
				<td style="width:75%;"><input ng-model="info.acceptEncoding" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">acceptLanguage ：</td>
				<td style="width:75%;"><input ng-model="info.acceptLanguage" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">method ：</td>
				<td style="width:75%;"><input ng-model="info.method" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">url ：</td>
				<td style="width:75%;"><input ng-model="info.url" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">uri ：</td>
				<td style="width:75%;"><input ng-model="info.uri" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">contextPath ：</td>
				<td style="width:75%;"><input ng-model="info.contextPath" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">servletPath ：</td>
				<td style="width:75%;"><input ng-model="info.servletPath" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">localPort ：</td>
				<td style="width:75%;"><input ng-model="info.localPort" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">localAddr ：</td>
				<td style="width:75%;"><input ng-model="info.localAddr" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">localName ：</td>
				<td style="width:75%;"><input ng-model="info.localName" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">remoteAddr ：</td>
				<td style="width:75%;"><input ng-model="info.remoteAddr" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">remoteHost ：</td>
				<td style="width:75%;"><input ng-model="info.remoteHost" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">scheme ：</td>
				<td style="width:75%;"><input ng-model="info.scheme" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">secure ：</td>
				<td style="width:75%;"><input ng-model="info.secure" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">serverName ：</td>
				<td style="width:75%;"><input ng-model="info.serverName" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">serverPort ：</td>
				<td style="width:75%;"><input ng-model="info.serverPort" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	        <tr style="height: 30px;">
				<td style="text-align:right;width:25%;">date ：</td>
				<td style="width:75%;"><input ng-model="info.date" ng-disabled="true" style="width:95%;" /></td>
	        </tr>
	    </table>
    </div>
	<div class="modal-footer">
		<eui-button icon-cls="eui-icon-close" ng-click="cancel()">关闭</eui-button>
	</div>
</div>