<div novalidate style="position: relative;"  name="confForm" >
    <table style="margin: 0px;width:100%;">
        <tr style="height: 36px;">
        	<td style="text-align: right;width:25%;">人员姓名：</td>
            <td style="width:75%;padding-left:6px;">
                <input style="width:280px;"  ng-model="user.ryxm" ng-disabled="isNotEdit"/><span style="color:red;"> *</span>
            </td>
        </tr>
         
        <tr style="height: 36px;">
           	<td style="text-align: right">所属机构：</td>
            <td style="padding-left:6px;">
                <eui-combo width="280" on-click="click()" combo= "textValue"></eui-combo>
            </td>
        </tr>
        <tr style="height: 36px;">
           	<td style="text-align: right">角色：</td>
            <td style="padding-left:6px;">
                <eui-combo-checkbox width = "280px" select-height="95px" checkbox="true"
                  select-data="roleData" selected-rows= "roleValue" disabled=disabled>
             	</eui-combo-checkbox>
            </td>
        </tr>
        <tr style="height: 36px;">
            <td style="text-align: right">人员工号：</td>
            <td style="padding-left:6px;">
            	<input style="width:280px;" ng-model="user.rygh" ng-disabled="isNotEdit"/>
            </td>
        </tr>
        
        <tr style="height: 36px;">
            <td style="text-align: right">性别：</td>
            <td style="padding-left:6px;">
           	 <eui-combo-checkbox width = "280px" select-height="95px"
                  select-data="xbData" selected-rows= "xbValue" disabled=disabled>
             </eui-combo-checkbox>
            </td>
        </tr>
       <tr style="height: 36px;">
            <td style="text-align: right">登录账号：</td>
            <td style="padding-left:6px;">
                <input  style="width:280px;" ng-model="user.yhm" ng-disabled="isNotEdit"/><span style="color:red;"> *</span>
            </td>
            
        </tr>
        <tr style="height: 36px;">
            <td style="text-align: right">登录密码：</td>
            <td style="padding-left:6px;"><input type="password" ng-focus="focus()" ng-blur="blur()" style="width:280px;" ng-model="user.yhmm" ng-disabled="isNotEdit"/><span style="color:red;"> *</span></td>
        </tr>
        <tr style="height: 36px;">
            <td style="text-align: right">状态：</td>
            <td style="padding-left:6px;">
           	 <eui-combo-checkbox width = "280px" select-height="95px"
                  select-data="ztData" selected-rows= "ztValue" disabled=disabled>
             </eui-combo-checkbox>
            </td>
        </tr>
        
       
        <tr style="height: 36px;">
            <td style="text-align: right">备注：</td>
            <td style="padding-left:6px;">
            
            <textarea style="resize: none;"  rows="3" cols="41" ng-model="user.bz" ng-disabled="isNotEdit"></textarea>
           
            
            </td>
        </tr>
    </table>
    <input type="hidden" ng-model="user.userid" ng-disabled="isNotEdit"/>
    <div class="modal-footer">
        <button class="eui_msgbox_btn_ok" ng-click="ok()" ng-show="!isNotEdit">确定</button>
        <button class="eui_msgbox_btn_cancel" ng-click="cancel()">取消</button>
    </div>
</div>