<!-- 
/**
 * 功能模块：建模设计--》流程建模--》编辑流程模板
 * 描      述：流程建模	建议此处加上随机值，实时刷新：&math=Math.random()
 		【因和eui框架存在冲突，此处所有服务请求都是调用父界面的方法，可参考【lcjm.html】使用】
 		传参：流程模板id：id
			业务iD：ywid
 			查看模式传参：isEdit=N		，N不可编辑 ，其他可编辑
 			工作区是否可编辑：editable=false	，false不可编辑，其他可编辑
 * 文件名称：flowLcjm.html
 * 创建   人： 周艳平
 * 创建时间： 2016年11月1日15:49:09
 * 修改日志：
 */
 -->

<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>流程建模</title>
		<link rel="stylesheet" type="text/css" href="/flow/gooflow/codebase/GooFlow.css" />
		<link rel="stylesheet" type="text/css" href="/flow/gooflow/codebase/default.css" />
		
		<script type="text/javascript" src="/flow/gooflow/jquery.min.js"></script>
		<script type="text/javascript" src="/flow/gooflow/json2.js"></script>
		
		<script type="text/javascript" src="/flow/gooflow/codebase/GooFunc.js"></script>
		<script type="text/javascript" src="/flow/gooflow/codebase/GooFlow.js"></script>
		<script src="flow.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="flowLcjm"></div>
	</body>

</html>