/*.eui-window{*/
  /*display: flex;*/
  /*flex-direction: row;*/
/*}*/

/*title菜单样式*/
.eui-window-title{
  width:100%;
  height:72px;
  background-color:rgba(58,104,123);
  background:#3a687b;
  border-bottom:1px solid #2d4853;
  border-left:1px solid #718995;
}

.eui-window-title ul li{
  float:left;
}

.eui-window-title ul .listbox {
  width: 160px;
  margin: 0px;
  padding-top: 30px;
  padding-left: 20px;
}

.eui-window-title ul li.listbox .icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
}

.eui-window-title ul li.listbox .name {
  line-height: 1.3em;
  font-size: 1.3em;
  color: #fff;
  font-weight: bolder;
  cursor: default;
}

.eui-window-title ul .line {
  width: 1px;
  height: 72px;
  background: #98c7d4;
  margin: 0px 5px 0px 5px;
}

.eui-window-title ul .leftArrow {
  width: 20px;
  height: 72px;
  background: url(../images/window/lArrow.png) no-repeat 50% 60%;
}

.eui-window-title ul .leftArrow:hover {
  background: url(../images/window/lArrowh.png) no-repeat 50% 60%;
}

.eui-window-title ul .rightArrow {
  width: 20px;
  height: 72px;
  background: url(../images/window/rArrow.png) no-repeat 50% 60%;
}

.eui-window-title ul .rightArrow:hover {
  background: url(../images/window/rArrowh.png) no-repeat 50% 60%;
}

.eui-window-title ul .meunset{
  width: 800px;
  overflow: hidden;
  height: 72px;
}

.eui-window-title .meunset .secMenu {
  width: auto;
  height: 65px;
  color: #fff;
  padding: 16px 10px;
  margin-left: 20px;
  margin-top: 17px;
  float: left;
}

.eui-window-title .meunset .secMenu:hover{
  cursor: pointer;
  color: rgb(58, 104, 123);
  background: url(../images/window/two_bg.jpg) repeat-x;
}

.eui-window-title .meunset .lineT {
  width: 1px;
  height: 20px;
  background: #fff;
  margin-top: 34px;
  margin-left: 20px;
  float: left;
}

.eui-window-content{
  width: 100%;
  height: 100%;
  /*flex: 1;*/
  background: #e5e5e5;
  position: relative;
  padding: 10px;
}

.eui-window-content .ContentBox {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
  padding: 10px;
}
.eui-wTools{
  position: relative;
  float: right;
}

.eui-wTools span {
  display: inline-block;
  width: 29px;
  height: 22px;
  overflow: hidden;
  cursor: pointer;
  float: left;
}

.eui-wTools-close {
  background: url(../images/window/close.jpg) no-repeat;
}
.eui-wTools-max{
  background: url(../images/window/max.jpg) no-repeat 50% 50%;
}

.eui-wTools-min {
  background: url(../images/window/min.jpg) no-repeat;
}

.eui-wTools-restore {
  background: url(../images/window/restore.jpg) no-repeat;
}

.eui-wTools-close:hover,
.eui-wTools-max:hover,
.eui-wTools-min:hover,
.eui-wTools-restore:hover{
  opacity: 0.6;
}

/*.eui-window-foot {*/
  /*width: 100%;*/
  /*height: 45px;*/
  /*background: #eef4fe;*/
  /*line-height: 45px;*/
  /*bottom: 0px;*/
  /*position:absolute;*/
/*}*/
.eui-window-content .ContentBox iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}